server:
  port: 8080
  servlet:
    context-path: /
    encoding:
      charset: UTF-8
      enabled: true
      force: true

spring:
  pathmatch:
    matching-strategy: ant_path_matcher

  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
#    url: jdbc:mariadb://localhost:3307/kb_backend?characterEncoding=UTF-8&serverTimezone
    url: jdbc:mariadb://plovo.c4akum70ou2t.ap-northeast-2.rds.amazonaws.com
    username: admin
    password: 20000118

  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: d8cd211c019638de5f91044292868dd1
            client-secret: bjBRabfkafaJfuHNAVnfxNnMsfSErl8p
            client-authentication-method: POST
            authorization-grant-type: authorization_code
            redirect-uri: http://52.78.4.217:8080/oauth/token
            scope:
              - profile_nickname
              - profile_image
              - account_email
            client-name: Kakao
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakap.com/v2/user/me
            user-name-attribute: id
  main:
    allow-circular-references: true

    jpa:
      hibernate:
        ddl-auto: create
        naming:
          physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      show-sql: true
